@media (max-width:1400px){
    .team-box nav{ 
    height: 70%;
    }
}
@media (max-width: 1366px) {
    
}
@media (max-width:1000px) {
    .team-box nav{
        width: 80%;
    }
    .ourteam article{
        width: 50%;
    }
    .aboutus aside{ flex-direction: column; height: 60%;
    }
    .card{
        margin-top:10%;
        padding-bottom:30px;
    }
    .box{
        height: 110vh;
    }
}   
@media (max-width:800px) {
    .aboutus aside{
        margin-top: 30px;
        width: 55%;
    }
    .aboutus article{
        width: 80%;
    }
}
@media (max-width: 350px) {
    
    .aboutus article{
        width: 100%;
    }
}
@media (max-width:600px) {
    
}
/*.team-box nav{
        height: 50%;
        width: 95%;
    }*/